.icon-menu3 {
  text-align: center;
  font-size: 3rem;
}
.c-block-body {
  margin-top: 60px;
}
.c-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #121b24;
  z-index: 100;
}
.g-container {
  max-width: 1134px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.c-header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.c-header__logo {
  padding-top: 5px;
}
.c-header__logo a {
  display: inline;
  font-family: 'RussoOne';
}
.c-header__logo i {
  font-size: 2.5rem;
  margin: 0.5rem 1rem;
}
ul.c-header__menu {
  display: none;
}
ul.c-header__menu li {
  border-radius: 8px;
  padding-top: 0.8rem;
  margin-right: 2rem;
}
ul.c-header__menu li:hover {
  background: #1c3954;
}
ul.c-header__menu li a {
  font-size: 2rem;
  padding: 1rem 1rem;
}
ul.c-header__menu li a i {
  font-size: 2rem;
  padding-left: 1.5rem;
}
@media only screen and (min-width: 769px) {
  ul.c-header__menu {
    display: flex;
  }
}
.c-header__burguer {
  margin: 0.3rem 1rem;
}
@media only screen and (min-width: 769px) {
  .c-header__burguer {
    display: none;
  }
}
ul.c-header__submenu {
  background: #0d1e2e;
  display: none;
}
ul.c-header__submenu li a {
  display: block;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid #3f8c44;
}
ul.c-header__submenu li a i {
  margin-left: 2rem;
  font-size: 2rem;
}
ul.c-header__submenu li a:hover {
  background: #112e49;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + ul {
  display: block;
  position: absolute;
  margin-top: 10px;
  right: 0%;
  left: 0%;
}
.flex-continer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.c-block-hero__list,
.h3 {
  margin: 0 auto;
}
.c-block-hero__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.2em;
}
.c-block-hero__list p {
  margin: auto 0.5rem;
  font-size: 1.3rem;
}
.c-block-hero__list h3 {
  font-size: 1.2rem;
}
@media only screen and (min-width: 769px) {
  .c-block-hero__list {
    width: 90%;
  }
  .c-block-hero__list p {
    font-size: 2.3rem;
  }
  .c-block-hero__list h3 {
    padding-top: 1rem;
    font-size: 2.5rem;
  }
}
.hero__div {
  width: 100%;
  height: 47px;
  position: relative;
  bottom: 4rem;
}
.c-block-hero {
  padding: 3rem 2rem 5rem;
  background-color: #102337;
}
@media only screen and (min-width: 769px) {
  .c-block-hero {
    padding: 8rem 5rem;
  }
}
.c-block-hero .h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3.2rem;
}
.c-block-hero .h1:after {
  content: " ";
  border-bottom: 3px solid #d9cbba;
  display: block;
  width: 100%;
  margin-top: 0.8rem;
}
.c-block-hero h1,
.c-block-hero .h2,
.c-block-hero > p {
  padding-bottom: 2rem;
}
.c-block-grid {
  text-align: center;
  width: 100%;
  height: 500px;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 769px) {
  .c-block-grid {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-row: 1fr 1fr;
    grid-gap: 1rem;
  }
}
.c-chart__canvas {
  grid-column: span 3;
}
.c-chart__canvas img {
  position: relative;
  top: 1rem;
}
.c-tweets {
  border: 3px solid #2effec;
}
/*# sourceMappingURL=global.css.map */